<button type="button" (click)="delete()"
    class="px-3 py-2 text-xs font-medium text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
    <i class="fa-solid fa-trash-can mr-1"></i>
    Eliminar
</button>

<button type="button" (click)="toggleModal()"
    class="px-4 py-2 text-xs font-medium text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 rounded-lg text-center me-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">
    <i class="fa-solid fa-pencil mr-1"></i>
    Editar
</button>

<div *ngIf="showModal"
    class="fixed inset-0 overflow-y-auto z-50 flex justify-center items-center bg-black bg-opacity-50">
    <div class="relative bg-white rounded-lg shadow-lg max-w-lg w-full dark:bg-gray-800">
        <!-- Modal content -->
        <div class="relative">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Editar Producto
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    (click)="toggleModal()">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-1 md:p-5 space-y-4">
                <div>
                    <label for="productName"
                        class="p-1.5 block text-sm font-medium text-gray-700 dark:text-gray-300">Nombre
                        del Producto</label>
                    <input type="text" id="productName" [(ngModel)]="putProducto.strName"
                        class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 shadow-sm sm:text-sm ">
                </div>
                <div>
                    <label for="productDescription"
                        class="p-1.5 block text-sm font-medium text-gray-700 dark:text-gray-300">Descripción del
                        Producto</label>
                    <textarea id="productDescription" [(ngModel)]="putProducto.strDescription"
                        class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500dark:text-white mt-1  shadow-sm sm:text-sm "></textarea>
                </div>

                <!--FILTROS-->

                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="productIdCatCategoria"
                            class="p-1.5 block text-sm font-medium text-gray-700 dark:text-gray-300">
                            Categoria</label>
                        <app-cat-filter (categoriaSeleccionada)="onCategoriaSeleccionada($event)" [product]="producto"></app-cat-filter>
                    </div>
                    <div>
                        <label for="productIdCatCategoria"
                            class="p-1.5 block text-sm font-medium text-gray-700 dark:text-gray-300">
                            Subcategoria</label>
                        <app-subcat-filter (subcategoriaSeleccionada)="onsubcategoriaSeleccionada($event)" [categoriaSeleccionadaId]="categoriaSeleccionadoId" [product]="producto"></app-subcat-filter>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-4">
                    <div>
                        <label for="productMin"
                            class="p-1.5 block text-sm font-medium text-gray-700 dark:text-gray-300">Stock
                            Mínimo</label>
                        <input type="number" id="productMin" [(ngModel)]="putProducto.decMinimum"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-1 shadow-sm sm:text-sm">
                    </div>
                    <div>
                        <label for="productMax"
                            class="p-1.5 block text-sm font-medium text-gray-700 dark:text-gray-300">Stock
                            Máximo</label>
                        <input type="number" id="productMax" [(ngModel)]="putProducto.decMaximum"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-1 shadow-sm sm:text-sm">
                    </div>
                    <div>
                        <label for="productStock"
                            class="p-1.5 block text-sm font-medium text-gray-700 dark:text-gray-300">Cantidad en
                            Stock</label>
                        <input type="number" id="productStock" [(ngModel)]="putProducto.decStock"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-1 shadow-sm sm:text-sm">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="productCost"
                            class="p-1.5 block text-sm font-medium text-gray-700 dark:text-gray-300">Costo</label>
                        <input type="number" id="productCost" [(ngModel)]="putProducto.decCost"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-1 shadow-sm sm:text-sm">
                    </div>
                    <div>
                        <label for="productPrice"
                            class="p-1.5 block text-sm font-medium text-gray-700 dark:text-gray-300">Precio</label>
                        <input type="number" id="productPrice" [(ngModel)]="putProducto.decPrice"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-1 shadow-sm sm:text-sm">
                    </div>
                    <div class="grid grid-cols-2 gap-2">
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                for="file_input">Nueva imagen</label>
                            <input
                                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                type="file" (change)="onFileSelected($event)" accept="image/*">
                        </div>
                        <!-- Muestra la imagen actual -->
                        <img *ngIf="putProducto.strImage" [src]="putProducto.strImage" alt="{{putProducto.strName}}">
                        <!-- Input para seleccionar una nueva imagen -->

                    </div>

                </div>
                <!-- Botones de acción -->
                <div class="p-4 flex justify-end bg-gray-100 dark:bg-gray-800 rounded-b">
                    <button type="button" (click)="update()"
                        class="px-4 py-2 text-sm font-medium text-gray-700 dark:text-white bg-gray-200 dark:bg-yellow-400 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md">Guardar
                        Cambios</button>
                </div>
            </div>

        </div>
    </div>
</div>