<div class="flex flex-col lg:flex-row mt-10 justify-center items-start mx-4 lg:mx-24 max-w-full">
    <!-- Buscar producto -->
    <div class="w-full lg:w-1/3 m-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <div class="mb-3">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Buscar producto</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          Para buscar un producto primero seleccione una categoria y una subcategoria o simplemente escriba el nombre.
          <b class="cursor-pointer">de click</b> sobre el producto para añadirlo a la venta actual
        </p>
      </div>
  
      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3 mb-3">
          <app-cat-filter (categoriaSeleccionada)="onCategoriaSeleccionada($event)" class="mr-3"></app-cat-filter>
          <app-subcat-filter [categoriaSeleccionadaId]="categoriaSeleccionadoId"></app-subcat-filter>
        </div>
  
        <label for="table-search" class="sr-only font-thin">Buscar</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <i class="fa-solid fa-magnifying-glass text-gray-400"></i>
          </div>
          <input type="text" id="table-search" [(ngModel)]="searchTerm"
            class="block w-full pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="Buscar algún producto">
        </div>
      </div>
  
      <div class="mt-5 relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Nombre del producto</th>
              <th scope="col" class="px-6 py-3">Precio</th>
              <th scope="col" class="px-6 py-3">Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filtrarProductos()" (click)="pushProduct(product)"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                {{product.strName}}
              </th>
              <td class="px-6 py-4">
                $ {{product.decPrice}}
              </td>
              <td class="px-6 py-4">
                <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{product.decStock}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <!-- Ventas -->
    <div class="w-full lg:w-2/3 m-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:pt-8 md:px-8 md:pb-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="mb-5 flex flex-col md:flex-row justify-between items-start md:items-center gap-3">
        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ventas</h5>
        <h6 class="text-gray-700 dark:text-gray-400 font-semibold">Folio de venta: {{newDateSale.strFolio}}</h6>
      </div>
  
      <div class="flex flex-col md:flex-row items-start md:items-center justify-between gap-4 mx-3">
        <p class="font-normal text-gray-700 dark:text-gray-400">
          para realizar una venta primero busque y seleccione un producto
        </p>
        <a href="/register-sales" class="flex justify-center items-center">
          <button
            class="px-3 py-2 text-xs font-medium text-center rounded-lg text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
            <i class="fa-brands fa-shopify"></i> Gestionar ventas realizadas
          </button>
        </a>
      </div>
  
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th class="px-16 py-3"><span class="sr-only">Imagen</span></th>
              <th class="px-6 py-3">Nombre del producto</th>
              <th class="px-6 py-3">Precio</th>
              <th class="px-6 py-3">Cantidad</th>
              <th class="px-6 py-3">Total</th>
              <th class="px-6 py-3">Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let selectedProduct of selectedProducts"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <td class="p-4">
                <img src="{{selectedProduct.product.strImage}}" class="w-16 md:w-32 max-w-full max-h-32 object-cover"
                  alt="imagen de {{selectedProduct.product.strName}}">
              </td>
              <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                {{selectedProduct.product.strName}}
              </td>
              <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                {{selectedProduct.product.decPrice}}
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center">
                  <button (click)="decrementQuantity(selectedProduct)"
                    class="inline-flex items-center justify-center p-1 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full hover:bg-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700">
                    <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                      <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M1 1h16" />
                    </svg>
                  </button>
                  <input [(ngModel)]="selectedProduct.quantity"
                    class="mx-2 w-10 text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg py-1 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                    required />
                  <button (click)="incrementQuantity(selectedProduct)"
                    class="inline-flex items-center justify-center h-6 w-6 p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full hover:bg-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700">
                    <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                      <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M9 1v16M1 9h16" />
                    </svg>
                  </button>
                </div>
              </td>
              <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                $ {{ selectedProduct.product.decPrice * selectedProduct.quantity }}
              </td>
              <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                {{ selectedProduct.product.decStock - selectedProduct.quantity }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="flex flex-col sm:flex-row justify-between items-center m-4 gap-4">
        <div class="text-center sm:text-left">
          <h5 class="text-sm text-gray-600">Le atiende:</h5>
          <h1 class="text-l font-bold text-gray-700 dark:text-gray-400">{{userOnSession}}</h1>
        </div>
        <div class="text-center sm:text-left">
          <h5 class="text-sm text-gray-600">Total de la venta:</h5>
          <h1 class="text-l font-bold text-gray-700 dark:text-gray-400">$ {{calTotal()}}</h1>
        </div>
        <button (click)="crearSale()"
          class="inline-flex items-center justify-center px-8 py-3 border border-transparent text-xl font-medium rounded-md text-white bg-green-700 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          <i class="fa-solid fa-cart-shopping mr-2"></i> Cobrar
        </button>
      </div>
    </div>
  </div>
  