<!-- Crear nueva categoría -->
<div
  class="m-8 max-w-4xl mx-auto bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
  <form (ngSubmit)="submitForm()" #categoryForm="ngForm">
    <div class="mb-1">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        Crear nueva categoría
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        Registra una nueva categoría para el sistema.
      </p>
    </div>

    <div class="p-1 md:p-5 space-y-4">
      <div>
        <label for="categoryName" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
          Nombre de la categoría
        </label>
        <input type="text" id="categoryName" name="categoryName" required [(ngModel)]="newCategory.strName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white shadow-sm" />
      </div>

      <div>
        <label for="categoryDescription" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
          Descripción de la categoría
        </label>
        <input type="text" id="categoryDescription" name="categoryDescription" [(ngModel)]="newCategory.strDescription"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white shadow-sm" />
      </div>

      <div class="text-right">
        <button type="submit"
          class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800">
          Guardar Categoría
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Crear nueva subcategoría -->
<div
  class="m-8 max-w-4xl mx-auto bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
  <form (ngSubmit)="submitSubForm()" #subForm="ngForm">
    <div class="mb-1">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        Crear nueva subcategoría
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        Registra una subcategoría asociada a una categoría.
      </p>
    </div>

    <div class="p-1 md:p-5 space-y-4">
      <div>
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">
          Categoría asociada
        </label>
        <app-g-select [(ngModel)]="newSubcategory.idCatCategoria" placeholder="Category" name="category"
        label="Categories" [options]="categorias">
    </app-g-select>
      </div>

      <div>
        <label for="subName" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
          Nombre de la subcategoría
        </label>
        <input type="text" id="subName" name="subName" required [(ngModel)]="newSubcategory.strName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white shadow-sm" />
      </div>

      <div>
        <label for="subDescription" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
          Descripción de la subcategoría
        </label>
        <input type="text" id="subDescription" name="subDescription" [(ngModel)]="newSubcategory.strDescription"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white shadow-sm" />
      </div>

      <div class="text-right">
        <button type="submit"
          class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-800">
          Guardar Subcategoría
        </button>
      </div>
    </div>
  </form>
</div>
