<div class="">
  <label [for]="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
    {{ label }}
  </label>
  <input 
    [id]="name" 
    [name]="name" 
    [type]="type"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [attr.minlength]="minLength"
    [attr.maxlength]="maxLength"
    [value]="value"
    (input)="onInputChange($event)"
    (blur)="onTouched()"
    [readOnly]="readOnly"
    class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white placeholder-gray-400" 
    required
  />
  <div *ngIf="validation">
    <p class="error-message">
      {{ errorMessage }}
    </p>
  </div>
</div>
