
<div>
    <label 
        [for]="name" 
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        {{label}}
    </label>
    <textarea 
        [id]="name" 
        [rows]="rows" 
        class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white placeholder-gray-400" 
        [placeholder]="placeholder"
        [disabled]="disabled"
        [attr.minlength]="minLength"
        [attr.maxlength]="maxLength"
        [value]="value"
        (input)="onInputChange($event)"
        (blur)="onTouched()"
        [readOnly]="readOnly"
        >
    </textarea>
    <div *ngIf="validation">
        <p class="error-message">
          {{ errorMessage }}
        </p>
      </div> 
</div>
