<div
    class="m-8 max-w-4xl mx-auto bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form (ngSubmit)="submitForm()">
        <a href="/products"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-26 h-8 ms-auto inline-flex justify-center items-center mb-4 p-3">
            <i class="fa-solid fa-arrow-left mr-1"></i>
            Back
        </a>
        <div class="mb-1">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Register a new product</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Save a product in the system.</p>
        </div>
        <div class="p-1 md:p-5 space-y-4">
            <app-g-text [(ngModel)]="newProducto.strName" name="strName" label="Product Name:" placeholder="eggs"
                type="text" [validation]="true">
            </app-g-text>

            <app-g-text-area class="col-span-2" [(ngModel)]="newProducto.strDescription" name="strDescription"
                label="Description:" placeholder="Product Description" [validation]="true" [errorMessage]="''">
            </app-g-text-area>

            <div class="grid grid-cols-2 gap-4">
                <app-g-select [(ngModel)]="categoriaSeleccionadoId" placeholder="Category" name="category"
                    label="Categories" [options]="categorias">
                </app-g-select>

                <app-g-select [(ngModel)]="subcategoriaSeleccionadoId" placeholder="Subcategory" name="Subcategory"
                    label="Subcategory" [options]="subcategorias">
                </app-g-select>
            </div>

            <div class="grid grid-cols-3">
                <app-g-text [(ngModel)]="newProducto.decMinimum" name="decMinimum" label="Minimum Stock:"
                    placeholder="0" type="number" [validation]="true">
                </app-g-text>
                <app-g-text [(ngModel)]="newProducto.decMaximum" name="decMaximum" label="Maximum Stock:"
                    placeholder="100" type="number" [validation]="true">
                </app-g-text>
                <app-g-text [(ngModel)]="newProducto.decStock" name="decStock" label="Current Stock:" placeholder="0"
                    type="number" [validation]="true">
                </app-g-text>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <app-g-text [(ngModel)]="newProducto.decCost" name="decCost" label="Cost:" placeholder="0" type="money"
                    [validation]="true">
                </app-g-text>
                <app-g-text [(ngModel)]="newProducto.decPrice" name="decPrice" label="Price:" placeholder="100"
                    type="money" [validation]="true">
                </app-g-text>
            </div>
        </div>
        <!--Image Input-->
        <div class="flex items-center justify-center w-full mb-5">
            <label for="dropzone-file"
                class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <ng-container *ngIf="!selectedFile; else elseTemplate">
                    <div ngif>
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Da
                                    click aquí para subir una imagen</span> o suelta la imagen aquí</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG, JPEG, solo formato de
                                imagen</p>
                        </div>
                        <input id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)"
                            accept="image/*" />
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="flex flex-col items-center justify-center pt-5 pb-6 text-gray-500">
                        <i class="fa-regular fa-circle-check fa-2x "></i>

                        <p class="mt-2">{{ selectedFile ? selectedFile.name : 'Archivo no seleccionado' }}</p>
                    </div>
                </ng-template>
            </label>
        </div>
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 focus:outline-none flex w-full justify-center leading-6 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Crear Nuevo Producto
        </button>