<div
    class="m-8 max-w-4xl mx-auto bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">

    <a href="/users"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-26 h-8 ms-auto inline-flex justify-center items-center m-2 p-3">
        <i class="fa-solid fa-arrow-left mr-1"></i>
        Regresar
    </a>

    <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
        <div class="mb-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Crea un nuevo usuario</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Guarda un usuario para acceder al sistema</p>
        </div>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <app-g-text [(ngModel)]="user.strName" name="email" label="Email:" placeholder="user@example.com"
                type="email" [validation]="true">
            </app-g-text>

            <app-g-select [(ngModel)]="user.idUsuCatTipoUsuario" name="idUsuCatTipoUsuario" placeholder="User type"
                label="User Type" [options]="tipos" [validation]="true" [errorMessage]="''">
            </app-g-select>
        </div>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <app-g-text [(ngModel)]="user.strPassword" name="password" label="Password:" placeholder="•••••••••"
                type="password" [validation]="true">
            </app-g-text>

            <app-g-text (keyup)="checkPasswordMatch()" [(ngModel)]="rPassword" name="confirm_password"
                label="Confirm password:" placeholder="•••••••••" type="password" [validation]="true">
            </app-g-text>
        </div>
        <div class="m-3">
            <app-alert *ngIf="user.idUsuCatTipoUsuario == 1"></app-alert>

        </div>
        <div class="m-3">
            <app-alert2 *ngIf="!comparePassword"></app-alert2>
        </div>

        <button type="submit" [disabled]="!userForm.valid || !comparePassword"
            [ngClass]="{'bg-blue-700': userForm.valid && comparePassword, 'bg-blue-400': !userForm.valid || !comparePassword}"
            class="text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none flex w-full justify-center leading-6 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            {{!userForm.valid || !comparePassword ? "Faltan algunos campos" : "Crear Nuevo Usuario"}}
        </button>

    </form>
</div>