<div
    class="m-4 max-w-7xl mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">

        <a  href="/catalogs/products"
            class="flex flex-col items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 hover:scale-105 hover:shadow-md transition duration-300 ease-in-out cursor-pointer">
            <i class="fa-solid fa-user-group fa-xl mb-4"></i>
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Usuarios</h5>
        </a>

        <a  href="/catalogs/clients"
            class="flex flex-col items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 hover:scale-105 hover:shadow-md transition duration-300 ease-in-out cursor-pointer">
            <i class="fa-solid fa-boxes-stacked fa-xl mb-4"></i>
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Productos</h5>
        </a>

        <a  href="/catalogs/suppliers"
            class="flex flex-col items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 hover:scale-105 hover:shadow-md transition duration-300 ease-in-out cursor-pointer">
            <i class="fa-solid fa-cash-register fa-xl mb-4"></i>
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Ventas</h5>
        </a>

    </div>


    <router-outlet></router-outlet>
</div>