<div class="m-10">
    <div class="flex flex-wrap items-center justify-center gap-10">

      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a routerLink="/catalogs/categories"
          class="flex flex-col items-center p-10 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-solid fa-layer-group text-5xl"></i>
          <span class="ms-3 mt-4 text-xl font-bold">Categories</span>
        </a>
      </div>

      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a routerLink="/catalogs/clients"
          class="flex flex-col items-center p-10 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-solid fa-users text-5xl"></i>
          <span class="ms-3 mt-4 text-xl font-bold">Clients</span>
        </a>
      </div>

      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a routerLink="/catalogs/suppliers"
          class="flex flex-col items-center p-10 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-solid fa-truck-field text-5xl"></i>
          <span class="ms-3 mt-4 text-xl font-bold">Suppliers</span>
        </a>
      </div>

    </div>
  </div>
